body{
	background-color: #12343B;
}


h1{
	text-align: center;
	color: #BFACE2;
	font-size: 12mm;
	font-family: 'Homemade Apple', cursive;

}

h2{
	color: #FCFAF1;
	text-align: center;
	font-family: 'Marcellus', serif;
}
